<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="../public/assets/js/script.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Darts</title>
</head>

<body>
    <header>
        <h1>
            Dart App
        </h1>
    </header>
    <div class="container">
        <!-- <div class="row">
            <button id="newGame">New Game</button>
        </div> -->
        <div class="scoreboard">
            <div class="row">
                <button id="newGame">New Game</button>
            </div>
            <div class="ply1">
                <div class="row">
                    <div class="col-sm">
                        <h1>Player 1</h1>
                    </div>
                    <div class="col-sm">
                        <h2>Score:</h2>
                        <h2 class="p1score">0</h2>
                    </div>
                </div>
                <div class="p1btns">
                    <button class="scoreBtn1" value="1">1</button>
                    <button class="scoreBtn1" value="2">2</button>
                    <button class="scoreBtn1" value="3">3</button>
                    <button class="scoreBtn1" value="4">4</button>
                    <button class="scoreBtn1" value="5">5</button>
                    <button class="scoreBtn1" value="6">6</button>
                    <button class="scoreBtn1" value="7">7</button>
                    <button class="scoreBtn1" value="8" >8</button>
                    <button class="scoreBtn1" value="9">9</button>
                    <button class="scoreBtn1" value="10">10</button>
                    <button class="scoreBtn1" value="11">11</button>
                    <button class="scoreBtn1" value="12">12</button>
                    <button class="scoreBtn1" value="13">13</button>
                    <button class="scoreBtn1" value="14">14</button>
                    <button class="scoreBtn1" value="15">15</button>
                    <button class="scoreBtn1" value="16">16</button>
                    <button class="scoreBtn1" value="17">17</button>
                    <button class="scoreBtn1" value="18">18</button>
                    <button class="scoreBtn1" value="19">19</button>
                    <button class="scoreBtn1" value="20">20</button>
                </div>
            </div>

            <div class="ply2">
                <div class="row">
                    <div class="col-sm">
                        <h1>Player 2</h1>
                    </div>
                    <div class="col-sm">
                        <h2>Score:</h2>
                        <h2 class="p2score">0</h2>
                    </div>
                </div>
                <div class="p2btns">
                    <button class="scoreBtn2" value="1">1</button>
                    <button class="scoreBtn2" value="2">2</button>
                    <button class="scoreBtn2" value="3">3</button>
                    <button class="scoreBtn2" value="4">4</button>
                    <button class="scoreBtn2" value="5">5</button>
                    <button class="scoreBtn2" value="6">6</button>
                    <button class="scoreBtn2" value="7">7</button>
                    <button class="scoreBtn2" value="8" >8</button>
                    <button class="scoreBtn2" value="9">9</button>
                    <button class="scoreBtn2" value="10">10</button>
                    <button class="scoreBtn2" value="11">11</button>
                    <button class="scoreBtn2" value="12">12</button>
                    <button class="scoreBtn2" value="13">13</button>
                    <button class="scoreBtn2" value="14">14</button>
                    <button class="scoreBtn2" value="15">15</button>
                    <button class="scoreBtn2" value="16">16</button>
                    <button class="scoreBtn2" value="17">17</button>
                    <button class="scoreBtn2" value="18">18</button>
                    <button class="scoreBtn2" value="19">19</button>
                    <button class="scoreBtn2" value="20">20</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

var score1 = 301;
var score2 = 301;

$("#newGame").click(function(){
    score1 = 301;
    score2 = 301;
    $(".p1score").text(score1)
    $(".p2score").text(score2)
})

$(".scoreBtn1").click(function(){
    var scoreClick = $(this).val();
    console.log(scoreClick);
    score1 = (score1 - scoreClick);
    $(".p1score").text(score1)
    if(score1 < 1){
        alert("Player 1 Wins")
    }
})

$(".scoreBtn2").click(function(){
    var scoreClick = $(this).val();
    console.log(scoreClick);
    score1 = (score2 - scoreClick);
    $(".p2score").text(score2)
    if(score2 < 1){
        alert("Player 2 Wins")
    }
})



</script>
</html>