<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="../public/assets/js/script.js"></script> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Darts</title>
</head>

<body>
    <header>
        <h1>
            Dart App
        </h1>
    </header>
    <div class="container">
        <div class="scoreboard">
            <div class="row">
                <button id="newGame">
                    New Game
                </button>
            </div>
            <div class="row" id="gameArea">
                <div class="col" id="p1Area">
                    <div class="row" id="p1Name">
                        <h1>Player 1</h1>
                    </div>
                    <div class="row">
                        <h2>Score: </h2>
                        <h2 id="p1score"></h2>
                    </div>
                    <div class="row" id="p120">
                        <div class="col" id="p120pts">
                            #
                        </div>
                        <div class="col" id="p120Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p120btn" class="scoreBtn1" value="20">20</button>
                        </div>
                    </div>
                    <div class="row" id="p119">
                        <div class="col" id="p119pts">
                            #
                        </div>
                        <div class="col" id="p119Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p119btn" class="scoreBtn1" value="19">19</button>
                        </div>
                    </div>
                    <div class="row" id="p118">
                        <div class="col" id="p118pts">
                            #
                        </div>
                        <div class="col" id="p118Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p118btn" class="scoreBtn1" value="18">18</button>
                        </div>
                    </div>
                    <div class="row" id="p117">
                        <div class="col" id="p117pts">
                            #
                        </div>
                        <div class="col" id="p117Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p117btn" class="scoreBtn1" value="17">17</button>
                        </div>
                    </div>
                    <div class="row" id="p116">
                        <div class="col" id="p116pts">
                            #
                        </div>
                        <div class="col" id="p116Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p116btn" class="scoreBtn1" value="16">16</button>
                        </div>
                    </div>
                    <div class="row" id="p115">
                        <div class="col" id="p115pts">
                            #
                        </div>
                        <div class="col" id="p115Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p115btn" class="scoreBtn1" value="15">15</button>
                        </div>
                    </div>
                    <div class="row" id="p1Bl">
                        <div class="col" id="p1BlPts">
                            #
                        </div>
                        <div class="col" id="p1BlImgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p1Blbtn" class="scoreBtn1" value="25">BullsEye</button>
                        </div>
                    </div>

                </div>
                <div class="col" id="p2Area">
                    <div class="row" id="p2Name">
                        <h1>Player 2</h1>
                    </div>
                    <div class="row">
                        <h2>Score: </h2>
                        <h2 id="p2score"></h2>
                    </div>
                    <div class="row" id="p220">
                        <div class="col" id="p220pts">
                            #
                        </div>
                        <div class="col" id="p220Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p220btn" class="scoreBtn2" value="20">20</button>
                        </div>
                    </div>
                    <div class="row" id="p219">
                        <div class="col" id="p219pts">
                            #
                        </div>
                        <div class="col" id="p219Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p219btn" class="scoreBtn2" value="19">19</button>
                        </div>
                    </div>
                    <div class="row" id="p218">
                        <div class="col" id="p218pts">
                            #
                        </div>
                        <div class="col" id="p218Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p218btn" class="scoreBtn2" value="18">18</button>
                        </div>
                    </div>
                    <div class="row" id="p217">
                        <div class="col" id="p217pts">
                            #
                        </div>
                        <div class="col" id="p217Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p217btn" class="scoreBtn2" value="17">17</button>
                        </div>
                    </div>
                    <div class="row" id="p216">
                        <div class="col" id="p216pts">
                            #
                        </div>
                        <div class="col" id="p216Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p216btn" class="scoreBtn2" value="16">16</button>
                        </div>
                    </div>
                    <div class="row" id="p215">
                        <div class="col" id="p215pts">
                            #
                        </div>
                        <div class="col" id="p215Imgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p215btn" class="scoreBtn2" value="15">15</button>
                        </div>
                    </div>
                    <div class="row" id="p2Bl">
                        <div class="col" id="p2BlPts">
                            #
                        </div>
                        <div class="col" id="p2BlImgs">
                            #
                        </div>
                        <div class="col">
                            <button id="p2Blbtn" class="scoreBtn2" value="25">BullsEye</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    var player1 = {
    score: 0,
    twty: {
        count: 0,
        closed: false
    },
    ninetn: {
        count: 0,
        closed: false
    },
    eighttn: {
        count: 0,
        closed: false
    },
    svntn: {
        count: 0,
        closed: false
    },
    sixtn: {
        count: 0,
        closed: false
    },
    fiftn: {
        count: 0,
        closed: false
    },
    bull: {
        count: 0,
        closed: false
    }
}

var player2 = {
    score: 0,
    twty: {
        count: 0,
        closed: false
    },
    ninetn: {
        count: 0,
        closed: false
    },
    eighttn: {
        count: 0,
        closed: false
    },
    svntn: {
        count: 0,
        closed: false
    },
    sixtn: {
        count: 0,
        closed: false
    },
    fiftn: {
        count: 0,
        closed: false
    },
    bull: {
        count: 0,
        closed: false
    }
}

    $("#newGame").click(function () {
        player1.score = 0;
        player1.twty.count = 0;
        player1.twty.closed = false;
        player1.ninetn.count = 0;
        player1.ninetn.closed = false;
        player1.eighttn.count = 0;
        player1.eighttn.closed = false;
        player1.svntn.count = 0;
        player1.svntn.closed = false;
        player1.sixtn.count = 0;
        player1.sixtn.closed = false;
        player1.fiftn.count = 0;
        player1.fiftn.closed = false;
        player1.bull.count = 0;
        player1.bull.closed = false;
        
        player2.score = 0;
        player2.twty.count = 0;
        player2.twty.closed = false;
        player2.ninetn.count = 0;
        player2.ninetn.closed = false;
        player2.eighttn.count = 0;
        player2.eighttn.closed = false;
        player2.svntn.count = 0;
        player2.svntn.closed = false;
        player2.sixtn.count = 0;
        player2.sixtn.closed = false;
        player2.fiftn.count = 0;
        player2.fiftn.closed = false;
        player2.bull.count = 0;
        player2.bull.closed = false;
        
        // score button click functions
        // id="p120pts"

        $("#p120btn").click(function () {
            // console.log(p120Closed);
            // console.log(score1);
            // var localScore = '';
            var scoreClick = $(this).val();
            player1.twty.count ++;
            if (player1.twty.closed === true) {
                if (player2.twty.closed === false) {
                    player1.score = (player1.score + parseFloat(scoreClick));
                    var p120pts = (player1.twty.count - 3) * 20;
                    $("#p1score").text(player1.score);
                    $("#p120pts").text(p120pts);
                }
            } else {
                if (player1.twty.count === 1) {
                    // player1.twty.count = 1;
                    $("#p120Imgs").text("/");
                } else if (player1.twty.count === 2) {
                    // player1.twty.count = 2;
                    $("#p120Imgs").text("X");
                } else if (player1.twty.count === 3) {
                    // player1.twty.count = 3;
                    player1.twty.closed = true;
                    $("#p120Imgs").text("(X)");
                } 
            }
        })
        
    $("#p220btn").click(function () {
        var scoreClick = $(this).val();
        player2.twty.count ++;
        if (player2.twty.closed === true) {
            if (player1.twty.closed === false) {
                player2.score = (player2.score + parseFloat(scoreClick));
                var p220pts = (player2.twty.count - 3) * 20;
                $("#p2score").text(player2.score);
                $("#p220pts").text(p220pts);
            }
        } else {
            if (player2.twty.count === 1) {
                $("#p220Imgs").text("/");
            } else if (player2.twty.count === 2) {
                $("#p220Imgs").text("X");
            } else if (player2.twty.count === 3) {
                player2.twty.closed = true;
                $("#p220Imgs").text("(X)")
            }
        }
    })

$("#p119btn").click(function(){
    var scoreClick = $(this).val();
    player1.ninetn.count ++;
    if (player1.ninetn.closed === true){
        if(player2.ninetn.closed === false){
            player1.score = (player1.score + parseFloat(scoreClick));
            var p119pts = (player1.ninetn.count - 3) * 19;
            $("#p1score").text(player1.score);
            $("#p119pts").text(p119pts);
        }
    } else {
        if (player1.ninetn.count === 1){
            $("#p119Imgs").text("/");
        } else if (player1.ninetn.count === 2){
            $("#p119Imgs").text("X");
        } else if (player1.ninetn.count === 3){
            player1.ninetn.closed = true;
            $("#p119Imgs").text("(X)")
        }
    }
})

$("#p219btn").click(function(){
    var scoreClick = $(this).val();
    player2.ninetn.count ++;
    if(player2.ninetn.closed === true){
        if(player1.ninetn.closed === false){
            player2.score = (player2.score + parseFloat(scoreClick));
            var p219pts = (player2.ninetn.count - 3) *19;
            $("#p2score").text(player2.score);
            $("#p219pts").text(p219pts);
        }
    } else {
        if (player2.ninetn.count === 1){
            $("#p219Imgs").text("/");
        } else if (player2.ninetn.count === 2){
            $("#p219Imgs").text("X");
        } else if (player2.ninetn.count === 3){
            player2.ninetn.closed = true;
            $("#p219Imgs").text("(X)")
        }
    }
})

        //end
    })

    // $("#p120btn").click(function(){
    //     console.log(p120Closed);
    //     console.log(score1);

    //     var scoreClick = $(this).val();
    //     if(p120Closed === true){
    //         if(p220Closed === false){
    //             score1 = (score1 + parseFloat(scoreClick))
    //         $("#p1score").text(score1)
    //         }
    //     } else {
    //         if (p120Count === 0){
    //             p120Count = 1;
    //             $("#p120Imgs").text("/");
    //         } else if (p120Count === 1){
    //             p120Count = 2;
    //             $("#p120Imgs").text("X");
    //         } else if (p120Count === 2){
    //             p120Count = 3;
    //             p120Closed = true;
    //             $("#p120Imgs").text("(X)");
    //         }
    //     }
    // })

    // $("#p220btn").click(function () {
    //     var scoreClick = $(this).val();
    //     if (p220Closed === true) {
    //         if (p120Closed === false) {
    //             score2 = (score2 + parseFloat(scoreClick));
    //             $("#p2score").text(score2);
    //         }
    //     } else {
    //         if (p220Count === 0) {
    //             p220Count = 1;
    //             $("#p220Imgs").text("/");
    //         } else if (p220Count === 1) {
    //             p220Count = 2;
    //             $("#p220Imgs").text("X");
    //         } else if (p220Count === 2) {
    //             p220Count = 3;
    //             p220Closed = true;
    //             $("#p220Imgs").text("(X)")
    //         }
    //     }
    // })

</script>

</html>